bitsandbytes
packaging
addict
editdistance
einops
fairscale
jsonlines
markdown2
matplotlib
more_itertools
nltk
numpy
opencv_python_headless
openpyxl
Pillow
sacrebleu
seaborn
shortuuid
spacy
timm
torch
torchvision
tqdm
protobuf
transformers
typing_extensions
uvicorn
#xformers==0.0.22.post7
flash_attn
sentencepiece
accelerate
socksio
gradio
gradio_client
http://thunlp.oss-cn-qingdao.aliyuncs.com/multi_modal/never_delete/modelscope_studio-0.4.0.9-py3-none-any.whl
decord
